body {
  display: block;
  margin: 0px;
  }

@font-face {
    font-family: "Open Sans Bold"; 
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans Regular"; 
    src: url(../fonts/OpenSans-Regular.ttf);
}

.welcome {
  background: #000000 url(../images/football_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media (max-width: 639px) {
  
  .welcome {
  	background: url(../images/football_767.jpg);
  }
  .surface_logo_text {
  	width: 135px;
  }

  .welcome-title {
  	text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Open Sans Bold Bold";
    font-weight: 700;

    width: 280px;
    padding-top: 135px;
    padding-bottom: 90px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  
  .welcome {
  	background: url(../images/football_1280.jpg);
  }
  .surface_logo_text {
  	width: 205px;
  }

  .welcome-title {
  	text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 3px;

    width: 660px;
    padding-top: 180px;
    padding-bottom: 310px;
  }
}

.welcome::after {
  content: "";
  background-color: #0000FF;
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.45;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  
  z-index: 2;
}

.welcome-logo {
  padding-top: 30px;
  left: 50%;
  justify-content: center;
  display: flex;
}

.surface_logo_text {
  fill: #ffffff;
  width: 190px;
}

.welcome-title {
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 31px;
  color: #ffffff;
  font-family: "Open Sans Bold";
  font-weight: 700;

  width: 1532px;
  margin: 0 auto;
  padding-top: 285px;
  padding-bottom: 218px;
}